
<% @paintings.each do |painting| %>

<%= link_to painting_path(painting) do %>	
<div class="span3" style="margin-bottom:5px;margin-right:1px;">

<%= image_tag painting.image_url(:thumb) if painting.image? %>

	</div>
<%end%>
    
<% end %>


